@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Nhà cung cấp";
    ViewBag.Active = "NhaCungCap";
}
<div class="container-nha-cung-cap1">
    <div class="tbn1">
        <div>
            <select>
                <option>Chọn nghành hàng kinh doanh</option>
            </select>
        </div>
        <div>
            <select>
                <option>Chọn loại NCC</option>
            </select>
        </div>
        <div>
            <input type="text" placeholder="Tên nhà cung cấp" />
        </div>
        <div>
            <button type="button">Tìm kiếm</button>
        </div>
    </div>
    <div class="tbn2">
        <table>
            <tr>
                <th>STT</th>
                <th>Mã NCC</th>
                <th>Logo</th>
                <th>Thông tin NCC</th>
                <th>Tổng tiền đặt hàng</th>
                <th>Tổng kiếu nại</th>
                <th>Tác vụ</th>
            </tr>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>0007918</td>
                <td>
                    <img src="~/images/cai-dat/6eaf1a844ae4b6fa6eeb6ff17f468cc0.jpg"
                         alt="logo" />
                </td>
                <td></td>
                <td>
                    <p>13215đ</p>
                </td>
                <td>0</td>
                <td>
                    <i></i>
                </td>
            </tr>
        </table>
    </div>
</div>
