@{ 
    Layout = "_LayoutSansi";
    ViewBag.Title = "Sansi Sửa đơn hàng";
}

<div class="cai-dat-conteiner">
    <div class="cai-dat-title">
        <p>Nhà cung cấp: không xác định nhóm Shop</p>
        <p>Trạng thái: Đang chờ báo giá</p>
    </div>
    <div class="cai-dat-content">
        <div class="content-let">
            <div class="tnb-san-pham">
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lương</th>
                        <th>Ghi chú</th>
                        <th>Thành tiền</th>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <span>1</span>
                                <span>X</span>
                            </div>
                        </td>
                        <td>
                            <div>
                                <div class="content-left">
                                    <img src="~/images/don-hang/don-hang.svg"
                                         alt="ảnh" />
                                    <div>
                                        <button type="button" id="tai">Tải</button>
                                        <button type="button" id="link">Link</button>
                                    </div>
                                </div>
                                <div class="sub">
                                    <p>Vòng tay hạt mật độ</p>
                                    <p>Màu trắng</p>
                                    <a href="https://google.com"></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>198.771đ</p>
                                <p><span>¥</span>116.00</p>
                            </div>
                        </td>
                        <td>
                            <div>01</div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <p>36121.2đ</p>
                            <p>¥ 150.0</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tnb-kho-nhan-hang">
                <div class="title-tnb">Kho nhận hàng(*)</div>
                <div>
                    <div class="content-tbn">
                        <div>
                            <input type="radio" name="kho" id="HN" checked />
                            <label for="HN">Hà Nội - 16 Lê duẩn - Hai Bà Trưng - Hà Nội</label>
                        </div>
                        <div>
                            <input type="radio" name="kho" id="HP" />
                            <label for="HP">Hải Phòng - 123 Ngô Gia Tự - Hải An</label>
                        </div>
                        <div>
                            <input type="radio" name="kho" id="HCM" />
                            <label for="HCM">Hồ Chí Minh - 44K Cư Xá Phú Lâm D, Quận 6</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tnb-dia-chi-nhan-hang">
                <div class="title-tnb">Địa chỉ nhận hàng</div>
                <div class="content-tbn">
                    <div>
                        <input type="radio" name="dia-chi" id="le-tung" checked />
                        <label for="le-tung">
                            Lê tùng - 0946135678 - ngõ 415 thụy khuê - tây hồ - hà nội - Quận
                            Tây Hồ - Hà Nội
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="conten-right">
            <div class="tbl-top">
                <div>
                    <p>Thành tiền</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Phí tạm tính</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Tổng tiền</p>
                    <p>408.000đ</p>
                </div>
                <div>
                    <label for="dhsn">Ghi chú cho DHSN</label>
                    <textarea id="dhsn" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="rieng">Ghi chú riêng</label>
                    <textarea id="rieng" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="tnb-buttom">
                <div>
                    <p>Tổng tiền đặt hàng</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Phí đặt hàng</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Phí kiểm đếm</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Phí chiết khấu</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Phí đóng kiện</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Tổng tiền/ chưa có phí ship TQ</p>
                    <p>0đ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bnt">
        <button type="button">Xác nhận đặt hàng</button>
    </div>
</div>
