@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Thay Đổi Thông Tin";
}
<div class="container-cai-dat1">
    <div>
        <div class="left">
            <div class="thong-tin-co-ban">
                <div class="title">Thông tin cơ bản</div>
                <div class="content">
                    <div>
                        <label for="input-tk">Mã tai khoản <span>*</span></label>
                        <input type="text" placeholder="Mã tài khoản" id="input-tk" />
                    </div>
                    <div>
                        <label for="input-hoTen">Họ và tên <span>*</span></label>
                        <input type="text" placeholder="Họ và tên" id="input-hoTen" />
                    </div>
                    <div>
                        <label for="input-email">Email <span>*</span></label>
                        <input type="text" placeholder="Nhập emali" id="input-email" />
                    </div>
                    <div>
                        <label for="input-sdt">Số điện thoại <span>*</span></label>
                        <input type="text" placeholder="Họ và tên" id="input-sdt" />
                    </div>
                </div>
            </div>
            <div class="thong-tin-bo-sung">
                <div class="title">Thông tin bổ sung</div>
                <div class="content">
                    <div>
                        <label for="input-ns">Ngày sinh</label>
                        <input type="text" id="input-ns" />
                    </div>
                    <div>
                        <label for="input-gt">Giới tính</label>
                        <input type="text" id="input-gt" />
                    </div>
                    <div>
                        <label for="input-dc">Địa chỉ</label>
                        <input type="text" id="input-dc" />
                    </div>
                    <div>
                        <label for="input-tp">Ngày sinh</label>
                        <input type="text" id="input-tp" />
                        <input type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="thong-tin-cua-ban">
                <div class="title">Thông tin của bạn</div>
                <div class="content">
                    <div class="avatar">
                        <img src="~/images/cai-dat/6eaf1a844ae4b6fa6eeb6ff17f468cc0.jpg"
                             alt="avatar" />
                        <p>Ngọc Minh</p>
                    </div>
                    <div class="trang-thai">0/0</div>
                    <div class="thong-tin">
                        <div>
                            <p>Email:</p>
                            <p>Điện thoại:</p>
                            <p>Địa chỉ:</p>
                        </div>
                        <div>
                            <p>ngocminh2392@gmail.com</p>
                            <p>08 6969 6699</p>
                            <p>số 9 - ngõ 300 - thụy khuê - tây hồ - hn</p>
                        </div>
                    </div>
                    <div class="bnt-sua">
                        <button type="button">Chỉnh sửa thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button">Lưu thay đổi</button>
</div>
