@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Tin Tức";
    ViewBag.Type = 1;
}

<div class="thong-tin-them">
    <div class="sub-thong-tin">
        <ul>
            <li>Trang chủ</li>
            <li><i class="next"></i></li>
            <li>Tin tức</li>
        </ul>
    </div>
    <div class="thong-tin-them-content">
        <div class="container-thong-tin-1">
            <div class="thong-tin-left">
                <img src="~/images/thong-tin-them/01.svg" alt="images" />
                <a href="./index-tin-tuc.html">
                    <h3>
                        HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI, HƯỚNG
                        DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI
                    </h3>
                </a>
                <div class="sub-time">
                    <i class="icon-dong-ho"></i>
                    <p class="time">10/08/2019</p>
                </div>
                <p>
                    Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các bước
                    hướng dẫn sau: Lưu ý: 1 tài khoản đăng ký có thể đăng nhập được cả
                    t...
                </p>
            </div>
            <div class="thong-tin-right">
                <div>
                    <img src="~/images/thong-tin-them/02.svg" alt="images" />
                    <div>
                        <a href="./index-tin-tuc.html">
                            <h3>
                                HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                            </h3>
                        </a>

                        <div class="sub-time">
                            <i class="icon-dong-ho"></i>
                            <p class="time">10/08/2019</p>
                        </div>
                        <p>
                            Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                            bước hướng dẫn...
                        </p>
                    </div>
                </div>
                <div>
                    <img src="~/images/thong-tin-them/02.svg" alt="images" />
                    <div>
                        <a href="./index-tin-tuc.html">
                            <h3>
                                HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                            </h3>
                        </a>

                        <div class="sub-time">
                            <i class="icon-dong-ho"></i>
                            <p class="time">10/08/2019</p>
                        </div>
                        <p>
                            Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                            bước hướng dẫn...
                        </p>
                    </div>
                </div>
                <div>
                    <img src="~/images/thong-tin-them/02.svg" alt="images" />
                    <div>
                        <a href="./index-tin-tuc.html">
                            <h3>
                                HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                            </h3>
                        </a>

                        <div class="sub-time">
                            <i class="icon-dong-ho"></i>
                            <p class="time">10/08/2019</p>
                        </div>
                        <p>
                            Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                            bước hướng dẫn...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-thong-tin-2">
            <div class="thong-tin-left">
                <div class="thong-tin-container2-content">
                    <div class="title-container2">
                        <h2>TIN TỨC MỚI</h2>
                    </div>
                    <div class="thong-tin-left-content">
                        <div>
                            <img src="~/images/thong-tin-them/03.jpg" alt="images" />
                            <a href="../index-tin-tuc.html">
                                <h4>
                                    KHI BÁN HÀNG ONLINE TĂNG TRƯỞNG THẦN TỐC NHỜ... GIAO HÀNG HỎA
                                    TỐC
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng
                                trực tuyến bây giờ...
                            </p>
                        </div>
                        <div>
                            <img src="~/images/thong-tin-them/04.jpg" alt="images" />
                            <a href="../index-tin-tuc.html">
                                <h4>
                                    KHI BÁN HÀNG ONLINE TĂNG TRƯỞNG THẦN TỐC NHỜ... GIAO HÀNG HỎA
                                    TỐC
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng
                                trực tuyến bây giờ...
                            </p>
                        </div>
                        <div>
                            <img src="~/images/thong-tin-them/05.jpg" alt="images" />
                            <a href="../index-tin-tuc.html">
                                <h4>
                                    KHI BÁN HÀNG ONLINE TĂNG TRƯỞNG THẦN TỐC NHỜ... GIAO HÀNG HỎA
                                    TỐC
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng
                                trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                    <button type="button">Xem thêm</button>
                </div>
                <div class="thong-tin-container2-content">
                    <div class="title-container2">
                        <h2>TIN THỊ TRƯỜNG</h2>
                    </div>
                    <div class="thong-tin-left-content">
                        <div>
                            <img src="~/images/thong-tin-them/06.jpg" alt="images" />
                            <a href="../index-tin-tuc.html">
                                <h4>
                                    KHI BÁN HÀNG ONLINE TĂNG TRƯỞNG THẦN TỐC NHỜ... GIAO HÀNG HỎA
                                    TỐC
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng
                                trực tuyến bây giờ...
                            </p>
                        </div>
                        <div>
                            <img src="~/images/thong-tin-them/07.jpg" alt="images" />
                            <a href="../index-tin-tuc.html">
                                <h4>
                                    KHI BÁN HÀNG ONLINE TĂNG TRƯỞNG THẦN TỐC NHỜ... GIAO HÀNG HỎA
                                    TỐC
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng
                                trực tuyến bây giờ...
                            </p>
                        </div>
                        <div>
                            <img src="~/images/thong-tin-them/08.jpg" alt="images" />
                            <a href="../index-tin-tuc.html">
                                <h4>
                                    KHI BÁN HÀNG ONLINE TĂNG TRƯỞNG THẦN TỐC NHỜ... GIAO HÀNG HỎA
                                    TỐC
                                </h4>
                            </a>
                            <p>
                                Không còn cảnh chờ đợi 3, 4 ngày hoặc vài tuần, người tiêu dùng
                                trực tuyến bây giờ...
                            </p>
                        </div>
                    </div>
                    <button type="button">Xem thêm</button>
                </div>
            </div>
            <div class="thong-tin-right">
                <div class="title-thong-tin-right">
                    <h3>BÀI XEM NHIỀU NHẤT</h3>
                </div>
                <div class="container2-right-content">
                    <div>
                        <img src="~/images/thong-tin-them/02.svg" alt="images" />
                        <div>
                            <a href="./index-tin-tuc.html">
                                <h3>
                                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                                </h3>
                            </a>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                                bước hướng dẫn...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/thong-tin-them/02.svg" alt="images" />
                        <div>
                            <a href="./index-tin-tuc.html">
                                <h3>
                                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                                </h3>
                            </a>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                                bước hướng dẫn...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/thong-tin-them/02.svg" alt="images" />
                        <div>
                            <a href="./index-tin-tuc.html">
                                <h3>
                                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                                </h3>
                            </a>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                                bước hướng dẫn...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/thong-tin-them/02.svg" alt="images" />
                        <div>
                            <a href="./index-tin-tuc.html">
                                <h3>
                                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                                </h3>
                            </a>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                                bước hướng dẫn...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/thong-tin-them/02.svg" alt="images" />
                        <div>
                            <a href="./index-tin-tuc.html">
                                <h3>
                                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                                </h3>
                            </a>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                                bước hướng dẫn...
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="~/images/thong-tin-them/02.svg" alt="images" />
                        <div>
                            <a href="./index-tin-tuc.html">
                                <h3>
                                    HƯỚNG DẪN CÁCH ĐĂNG KÝ TÀI KHOẢN TRÊN TAOBAO BẰNG ĐIỆN THOẠI.
                                </h3>
                            </a>
                            <div class="sub-time">
                                <i class="icon-dong-ho"></i>
                                <p class="time">10/08/2019</p>
                            </div>
                            <p>
                                Để tạo tài khoản trên www.taobao.com, bạn vui lòng làm theo các
                                bước hướng dẫn...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
