@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Tạo đơn hàng";
    ViewBag.Active = "TaoDonHang";
}
<div class="tim-kiem-sp">


    <div class="don-hang-title">

    <div class="tim-kiem-sp-content">
        <table class="is-desktop">
            <tr>
                <th class="cow1">STT</th>
                <th class="cow2">Hình ảnh</th>
                <th class="cow3">Thông tin sản phẩm</th>
                <th class="cow4">Đơn giá</th>
                <th class="cow5">Số lượng</th>
                <th class="cow6">Ghi chú khác</th>
                <th class="cow7">Thành tiền</th>
            </tr>
            <tr>
                <td>
                    <span>1</span>
                    <span>X</span>
                </td>
                <td>
                    <img src="~/images/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Tên sản phẩm - ghi tiếng Việt" />
                    <input type="text" placeholder="VD: màu sắc, size..." />
                    <input type="text" placeholder="Link sản phẩm" />
                </td>
                <td>
                    <p>Đơn giá</p>
                </td>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Ghi chú sản phẩm ..." />
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>
                    <span>1</span>
                    <span>X</span>
                </td>
                <td>
                    <img src="~/images/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Tên sản phẩm - ghi tiếng Việt" />
                    <input type="text" placeholder="VD: màu sắc, size..." />
                    <input type="text" placeholder="Link sản phẩm" />
                </td>
                <td>
                    <p>Đơn giá</p>
                </td>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Ghi chú sản phẩm ..." />
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>
                    <span>1</span>
                    <span>X</span>
                </td>
                <td>
                    <img src="~/images/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Tên sản phẩm - ghi tiếng Việt" />
                    <input type="text" placeholder="VD: màu sắc, size..." />
                    <input type="text" placeholder="Link sản phẩm" />
                </td>
                <td>
                    <p>Đơn giá</p>
                </td>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Ghi chú sản phẩm ..." />
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
        </table>
        <table class="is-mobile">
            <tr>
                <td colspan="2">x</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <img src="~/images/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>Đơn giá</td>
            </tr>
            <tr>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Thanh tiền</td>
            </tr>
            <tr>
                <td colspan="2">Tên sản phẩm- ghi tiếng việt</td>
            </tr>
            <tr>
                <td colspan="2">VD: màu sắc, size, ..</td>
            </tr>
            <tr>
                <td colspan="2">Link sản phẩm</td>
            </tr>
            <tr>
                <td colspan="2">Ghi chú sản phẩm</td>
            </tr>
        </table>
        <button type="button">+ Thêm sản phẩm</button>
    </div>

    <div class="tim-kiem-sp-total">
        <div class="total-content">
            <div>
                <div class="total-titel">Yêu cầu khác</div>

                <div class="total-content">
                    <input type="checkbox" id="input-kiem-hang" />
                    <label for="input-kiem-hang">Kiểm hàng</label> <br />
                    <input type="checkbox" id="input-dong-go" />
                    <label for="input-dong-go">Đóng gỗ</label>
                </div>
            </div>
            <div>
                <div class="total-titel">Thông tin khách hàng</div>

                <div class="total-content">
                    <input type="checkbox" id="input-address" />
                    <label for="input-address">Thêm địa chỉ khác</label>
                </div>
            </div>
            <div>
                <div class="total-titel">Trụ sở nhận hàng</div>

                <div class="total-content">
                    <input type="radio" id="input-HN" name="tru-so" />
                    <label for="input-HN">Hà Nội</label> <br />
                    <input type="radio" id="input-HCM" name="tru-so" />
                    <label for="input-HCM">Hồ Chí Minh</label><br />
                    <input type="radio" id="input-HP" name="tru-so" />
                    <label for="input-HP">Hải Phòng</label>
                </div>
            </div>
            <div>
                <div>
                    <div class="total-titel">Tổng tiền</div>

                    <div class="total-content total">
                        <div class="total-title">
                            <p>Tổng tiền đặt hàng</p>
                            <p>Phí đặt hàng</p>
                            <p>Phí kiểm đếm</p>
                            <p>Phí đóng kiện</p>
                            <p>Tổng tiền/ chưa có phí ship TQ</p>
                        </div>
                        <div class="total-value">
                            <p>100</p>
                            <p>100</p>
                            <p>100</p>
                            <p>100</p>
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="bt-dat-hang">Đặt hàng</button>
    </div>
</div>
