@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Quản lý Đơn hàng";
    ViewBag.Active = "DonHang";
}

<div class="don-hang-container">
    <div class="thong-bao-don-hang">
        <div class="tbdh-title">
            <div>
                <p>đang báo giá</p>
                <span>1</span>
            </div>
            <div>
                <p>Chờ đặt cọc</p>
                <span>0</span>
            </div>
            <div>
                <p>Đã đặt cọc</p>
                <span>0</span>
            </div>
            <div>
                <p>Đã đặt hàng</p>
                <span>0</span>
            </div>
            <div>
                <p>Đã thanh toán</p>
                <span>1</span>
            </div>
            <div>
                <p>Cần xác nhận</p>
                <span>1</span>
            </div>
            <div>
                <p>Đã huỷ</p>
                <span>1</span>
            </div>
        </div>
        <div class="tbdh-content">
            <div>
                <input type="text" placeholder="Từ ngày" />
            </div>
            <div>
                <input type="text" placeholder="Đến ngày" />
            </div>
            <div>
                <input type="text" placeholder="Mã đơn hàng" />
            </div>
            <div>
                <select>
                    <option>Sự lựa chọn cơ sở</option>
                </select>
            </div>
            <div>
                <select>
                    <option>Trạng thái</option>
                </select>
            </div>
            <div>
                <button type="button">Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="thong-tin-don-hang">
        <div class="ttdh-title">
            <div>
                <div>Hà Nội</div>
                <div>Mã đơn hàng: M69999999</div>
            </div>
            <div>Trạng thái: đang chờ báo giá</div>
        </div>
        <div class="container2">
            <div class="ttdh-content">
                <table>
                    <tr>
                        <td class="cor1">
                            <div class="stt">
                                <span>1</span>
                                <span>X</span>
                            </div>
                        </td>
                        <td class="cor2">
                            <div class="images">
                                <img src="~/images/don-hang/don-hang.svg"
                                     alt="san pham" />
                            </div>
                        </td>
                        <td class="cor3">
                            <div class="thong-tin">
                                <p>Vòng tay hạt mật độ</p>
                                <p>Màu trắng</p>
                            </div>
                        </td>
                        <td class="cor4">
                            <div class="don-gia">
                                <p><span>¥</span> 116.0</p>
                            </div>
                        </td>
                        <td class="cor5">
                            <div class="so-luong">Số lượng: 01</div>
                        </td>
                        <td class="cor6">
                            <div class="total">
                                <p><span>¥</span> 116.0</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cor1">
                            <div class="stt">
                                <span>2</span>
                                <span>X</span>
                            </div>
                        </td>
                        <td class="cor2">
                            <div class="images">
                                <img src="~/images/don-hang/don-hang.svg"
                                     alt="san pham" />
                            </div>
                        </td>
                        <td class="cor3">
                            <div class="thong-tin">
                                <p>Vòng tay hạt mật độ</p>
                                <p>Màu trắng</p>
                            </div>
                        </td>
                        <td class="cor4">
                            <div class="don-gia">
                                <p><span>¥</span> 116.0</p>
                            </div>
                        </td>
                        <td class="cor5">
                            <div class="so-luong">Số lượng: 01</div>
                        </td>
                        <td class="cor6">
                            <div class="total">
                                <p><span>¥</span> 116.0</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cor1">
                            <div class="stt">
                                <span>3</span>
                                <span>X</span>
                            </div>
                        </td>
                        <td class="cor2">
                            <div class="images">
                                <img src="~/images/don-hang/don-hang.svg"
                                     alt="san pham" />
                            </div>
                        </td>
                        <td class="cor3">
                            <div class="thong-tin">
                                <p>Vòng tay hạt mật độ</p>
                                <p>Màu trắng</p>
                            </div>
                        </td>
                        <td class="cor4">
                            <div class="don-gia">
                                <p><span>¥</span> 116.0</p>
                            </div>
                        </td>
                        <td class="cor5">
                            <div class="so-luong">Số lượng: 01</div>
                        </td>
                        <td class="cor6">
                            <div class="total">
                                <p><span>¥</span> 116.0</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="ttdh-sub">
                <div>
                    <p>Tỏng tiền hàng:</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Phí dịch vụ:</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Tổng tiền đơn hàng:</p>
                    <p>408.000đ</p>
                </div>
                <div>
                    <p>Đặt cọc:</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Còn lại:</p>
                    <p>408.000đ</p>
                </div>
            </div>
        </div>
    </div>
</div>
