@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Thanh Toán";
    ViewBag.Active = "ViDienTu";
}
<div class="container-thanh-toan">
    <div class="title">
        <h1>HƯỚNG DẪN THANH TOÁN</h1>
        <p>Chúng tôi chấp nhận các hình thức thanh toán:</p>
    </div>
    <div class="chuyen-khoan">
        <div class="tieu-de">1. Thanh toán chuyển khoản ngân hàng</div>
        <div class="noi-dung">
            Quý khách vui lòng nhập nội dung chuyển tiền như sau:”Tên + Số điện thoại
            khách hàng”. Mọi thắc mắc vui lòng liên hệ HotLine:
            <span>0989.85.88.86</span> để được tư vấn và hỗ trợ.
        </div>
    </div>
    <div class="ngan-hang">
        <div>
            <div>Ngân hàng Techcombank</div>
            <div>
                <p>Tên chủ TK : Hàn Hoàng Hiệp</p>
                <p>STK: 19034625143015</p>
            </div>
        </div>
        <div>
            <div>Ngân hàng VPBank</div>
            <div>
                <p>Tên chủ TK : Hàn Hoàng Hiệp</p>
                <p>STK: 19034625143015</p>
            </div>
        </div>
    </div>
    <div class="tien-mat">
        <div class="tieu-de">2. Thanh toán bằng tiền mặt</div>
        <div class="noi-dung">
            Quý khách thanh toán tiền mặt tại công ty khi nhận hàng Mọi thắc mắc v ui
            lòng liên hệ HotLine: <span>0989.85.88.86</span> để được tư vấn và hỗ trợ.
        </div>
    </div>
</div>
