
@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Chi tiết đơn hàng";
    ViewBag.Active = "KienHang";
}

<div class="container-chi-tiet-don-hang">
    <div class="trang-thai-kh">
        <div class="kh-title">
            <div>
                <p>Mã đơn hàng:</p>
                <p>Trạng thái đơn hàng:</p>
            </div>
            <div>
                <p>M69696969</p>
                <p>CẦN XÁC NHẬN LẠI</p>
            </div>
        </div>
        <div class="trang-thai">
            <div>
                <i class="hoan-thanh"></i>
            </div>
            <div>
                <i></i>
            </div>
            <div>
                <i></i>
            </div>
            <div>
                <i></i>
            </div>
            <div>
                <i></i>
            </div>
        </div>
        <div class="ten-trang-thai">
            <div>
                <p>Tạo đơn hàng thành công</p>
                <p class="time">13/08/2019-09:51:24</p>
            </div>
            <div>
                <p>Chờ đặt cọc</p>
            </div>
            <div>
                <p>Đã đặt cọc</p>
            </div>
            <div>
                <p>Đã đặt hàng</p>
            </div>
            <div>
                <p>Đã hoàn thành</p>
            </div>
        </div>
    </div>
    <div class="thong-tin-kh">
        <div class="nha-cung-cap">
            <div>Nhà cung cấp: Không xác định nhóm Shop</div>
            <div>Trạng thái: đang chờ báo giá</div>
        </div>
        <div class="tb-content">
            <table>
                <tr>
                    <th>STT</th>
                    <th>Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Ghi chú</th>
                    <th>Thành tiền</th>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span>1</span>
                            <span>x</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="~/images/kien-hang/don-hang.svg" alt="ảnh" />
                            <p>Vòng tay hạt mật độ</p>
                            <p>Màu trắng</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p><span>¥</span> 116.00</p>
                        </div>
                    </td>
                    <td>
                        <div>01</div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div class="thanh-tien">
                            <p>388.25đ</p>
                            <p>¥116.0</p>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="tb-sub">
                <div>
                    <p>Thành tiền</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Thành tiền TQ</p>
                    <p>0</p>
                </div>
                <div>
                    <p>Phí tạm tính</p>
                    <p>1235đ</p>
                </div>
                <div>
                    <p>Ghi chú cho HDSN</p>
                    <p>0đ</p>
                </div>
                <div>
                    <p>Ghi chú riêng</p>
                    <p>001313đ</p>
                </div>
                <div>
                    <p>Phí ship TQ</p>
                    <p><span>¥</span>1110</p>
                </div>
            </div>
        </div>
    </div>
    <div class="chi-tiet-kh">
        <div class="tb-thong-tin">
            <div class="tb-don-hang">
                <div class="tb-title">
                    <p>1. Thông tin đơn hàng</p>
                    <p>
                        (Đã bao gồm 5% phí dịch vụ đặt hàng) Phí chiết khấu: 0đ. Tổng tiền:
                        207.000đ
                    </p>
                </div>
                <table>
                    <tr>
                        <td>Mã Đơn hàng</td>
                        <td>M69696969</td>
                        <td>Trạng thái</td>
                        <td>Cần xác nhận lại</td>
                    </tr>
                    <tr>
                        <td>Ngày đặt</td>
                        <td>13/08/2019</td>
                        <td>Tổng tiền</td>
                        <td><span>207.000đ</span>(Đã bao gồm 5% phí dịch vụ đặt hàng)</td>
                    </tr>
                </table>
            </div>
            <div class="tb-thong-tin-khach-hang">
                <div class="tb-title">
                    <p>1. Thông tin khách hàng</p>
                </div>
                <table>
                    <tr>
                        <td>Họ tên</td>
                        <td>Ngọc Minh</td>
                        <td>Số điện thoại</td>
                        <td>08 6969 6969</td>
                    </tr>
                    <tr>
                        <td>Ngày sinh</td>
                        <td>21/03/2021</td>
                        <td>Địa chỉ</td>
                        <td>ngõ 415 Thụy Khuê - Tây Hồ - Hà Nội</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="bt-xem-kien-hang">
            <button type="button"><i class="icon"></i>Xem kiện hàng</button>
        </div>
        <div class="sub-tt">
            <div class="title-sub">LỊCH SỬ THAY ĐỔI TRẠNG THÁI</div>
            <div class="tb-sub">
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Trạng thái</th>
                        <th>Người chuyển</th>
                        <th>Ngày update</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Chờ báo giá</td>
                        <td>letung</td>
                        <td>12/3/2102 - 10:32</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Chờ báo giá</td>
                        <td>letung</td>
                        <td>12/3/2102 - 10:32</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
