@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Cài đặt thay đổi mật khẩu";
    ViewBag.Active = "CaiDat";
}
<div class="container-thay-doi-mat-khau">
    <div class="left">
        <div class="thay-doi-mk">
            <div class="title">Thay đổi mật khẩu</div>
            <div class="content">
                <div>
                    <label for="input-mk-hien-tai">
                        Mật khẩu hiện tại <span>*</span>
                    </label>
                    <input type="text" id="input-name" />
                </div>
                <div>
                    <label for="input-mk-moi"> Mật khẩu mới <span>*</span> </label>
                    <input type="text" id="input-mk-moi" />
                </div>
                <div>
                    <label for="input-nhap-lai-mk">
                        Nhập lại khẩu mới <span>*</span>
                    </label>
                    <input type="text" id="input-nhap-lai-mk" />
                </div>
                <button type="button">Lưu thay đổi</button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="thong-tin-cua-ban">
            <div class="title">Thông tin của bạn</div>
            <div class="content">
                <div class="avatar">
                    <img src="~/images/cai-dat/6eaf1a844ae4b6fa6eeb6ff17f468cc0.jpg"
                         alt="avatar" />
                    <p>Ngọc Minh</p>
                </div>
                <div class="trang-thai">0/0</div>
                <div class="thong-tin">
                    <div>
                        <p>Email:</p>
                        <p>Điện thoại:</p>
                        <p>Địa chỉ:</p>
                    </div>
                    <div>
                        <p>ngocminh2392@gmail.com</p>
                        <p>08 6969 6699</p>
                        <p>số 9 - ngõ 300 - thụy khuê - tây hồ - hn</p>
                    </div>
                </div>
                <div class="bnt-sua">
                    <button type="button">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
</div>
