@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Quản lý đơn ký gửi";
    ViewBag.Active = "DonHang";
}
<div class="container-tat-ca-dong-hang">
    <div class="thong-bao">
        <div class="title">
            <div>
                <p>Chờ xử lý<span>1</span></p>

                <p>Xác nhận lại<span>0</span></p>

                <p>Đang ở kho QC<span>0</span></p>

                <p>Đang về bằng tường<span>1</span></p>

                <p>Đến kho bằng tường<span>1</span></p>

                <p>Đang về kho TQ<span>2</span></p>

                <p>Đến kho TQ<span>0</span></p>
            </div>
            <div>
                <p>Đang về Việt Nam<span>1</span></p>

                <p>Đang về Hải Phòng<span>2</span></p>

                <p>Đang về TP.HCM<span>1</span></p>

                <p>Đến kho VN<span>1</span></p>

                <p>Chờ COD<span>0</span></p>

                <p>Đang giao hàng<span>1</span></p>

                <p>Đã nhận hàng<span>1</span></p>

                <p>Đã huỷ<span>1</span></p>
            </div>
        </div>
        <div class="content">
            <div>
                <input type="text" placeholder="Mã vận đơn" />
                <input type="text" placeholder="Mã đơn hàng" />
                <input type="text" placeholder="Mã kiện hàng" />
                <select>
                    <option>Lựa chọn cơ sở</option>
                </select>
                <select>
                    <option>Chọn loại kiện hàng</option>
                </select>
                <select>
                    <option>Trạng thái</option>
                </select>
                <button type="button">Tìm kiếm</button>
            </div>
        </div>
    </div>
    <div class="chi-tiet">
        <table>
            <tr>
                <th>STT</th>
                <th>Thông tin kiện hàng</th>
                <th>Tình trạng</th>
                <th>Ghi chú</th>
                <th>Loại hàng</th>
                <th>Phí vận chuyển</th>
                <th>Tổng kg/m3</th>
                <th>Phí khác</th>
                <th>Chiết khấu</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>1</span>
                        <button type="button">X</button>
                    </div>
                </td>
                <td>
                    <div>
                        <p>MVB: 03165462</p>
                        <p>MĐH: 13543213</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>Chờ xử lý</p>
                    </div>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <div>
                        <p>Hàng ký gửi</p>
                    </div>
                </td>
                <td>
                    <p><span>¥</span>1354</p>
                </td>
                <td>100kg</td>
                <td>
                    <div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>0%</div>
                        <div>0đ</div>
                    </div>
                </td>
                <td>
                    <p>135421đ</p>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>1</span>
                        <button type="button">X</button>
                    </div>
                </td>
                <td>
                    <div>
                        <p>MVB: 03165462</p>
                        <p>MĐH: 13543213</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>Chờ xử lý</p>
                    </div>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <div>
                        <p>Hàng ký gửi</p>
                    </div>
                </td>
                <td>
                    <p><span>¥</span>1354</p>
                </td>
                <td>100kg</td>
                <td>
                    <div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>0%</div>
                        <div>0đ</div>
                    </div>
                </td>
                <td>
                    <p>135421đ</p>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <span>1</span>
                        <button type="button">X</button>
                    </div>
                </td>
                <td>
                    <div>
                        <p>MVB: 03165462</p>
                        <p>MĐH: 13543213</p>
                    </div>
                </td>
                <td>
                    <div>
                        <p>Chờ xử lý</p>
                    </div>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <div>
                        <p>Hàng ký gửi</p>
                    </div>
                </td>
                <td>
                    <p><span>¥</span>1354</p>
                </td>
                <td>100kg</td>
                <td>
                    <div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                        <div>
                            <i></i>
                            <p>1000d</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <div>0%</div>
                        <div>0đ</div>
                    </div>
                </td>
                <td>
                    <p>135421đ</p>
                </td>
            </tr>
        </table>
    </div>
</div>
