@using AdminLTE.Models.SansiModels;
@model PhanTrang

@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Tạp phân trang";
    ViewBag.Type = 1;
    ViewBag.Active = "TrangChu";
}

<div id="PhanTrang">
    @Html.Partial("~/Views/SansiHome/_PhanTrangView.cshtml", Model)
</div>
<div>
    <button class="bt bt-color-xanh">
        <span class="material-icons">
            add_box
        </span>
    </button>
</div>
<div class="form-them-sp">
    <div class="nen"></div>
    <div>
        <label for="name">Tên sản phẩm</label>
        <input type="text" id="name" />

        <label for="title">Loại sản phẩm</label>
        <input type="text" id="title" />

        <label for="price">Giá sản phẩm</label>
        <input type="text" id="price" />

        <label for="image">Link ảnh sản phẩm</label>
        <input type="text" id="image" />

        <button class="bt bt-color-do" id="btmSubmit">Submit</button>
    </div>

</div>