@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Trang chủ";
    ViewBag.Type = 1;
}

<section class="section-eden">
    <div class="baner">
        <div class="mg-baner">
            <img src="~/images/baner.jpg" alt="" class="hide" />
            @*<img src="./images/banner1-2.jpg" alt="" />*@
            <img src="~/images/banner1-2.jpg" />
        </div>
        <div class="content-baner">
            <h2 class="title is-desktop">SANSI56 - ĐẶT HÀNG SIÊU NHANH</h2>
            <h2 class="title is-mobile">SANSI56 <br />ĐẶT HÀNG SIÊU NHANH</h2>
            <div class="sub">
                Sansi56.vn là giải pháp nhập hàng tối ưu cho quý khách. Chúng tôi mang
                lại cho khách hàng nguồn hàng phong phú với mức giá cực rẻ.
            </div>
            <div class="button">
                <button>Khám phá ngay</button>
            </div>
        </div>
        <div class="bt-preview">
            <button type="button"><i></i></button>
        </div>
        <div class="bt-next">
            <button type="button">
                <i></i>
            </button>
        </div>
    </div>
    <div class="noiDung">
        <div class="quyTrinh">
            <h3>QUY TRÌNH THỰC HIỆN ĐẶT HÀNG</h3>
            <div>
                <ul class="trinhTu">
                    <li class="circle active">
                        <a href="#">
                            <i class="dk"></i>
                            <p>ĐĂNG KÝ</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="is-desktop" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="cdcc"></i>
                            <p>CÀI ĐẶT CÔNG CỤ</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="tdh"></i>
                            <p>TẠO ĐƠN HÀNG</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="gdh"></i>
                            <p>GỬI ĐƠN HÀNG</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="ndh"></i>
                            <p>NHÂN ĐƠN HÀNG</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="cdh"></i>
                            <p>CHỐT ĐƠN HÀNG</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="tt"></i>
                            <p>THANH TOÁN</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>

                    <li class="qt-next"></li>

                    <li class="circle">
                        <a href="#">
                            <i class="nh"></i>
                            <p>NHẬN HÀNG</p>
                        </a>
                        <img src="~/images/qt/down.jpg" class="hide" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="tap">
            <div class="form-tap">
                <img src="~/images/form.jpg" alt="" />
                <div class="tap-content">
                    <div class="title-tap">ĐĂNG KÝ TÀI KHOẢN</div>
                    <div class="content-tap">
                        Nhập các thông tin cá nhân bắt buộc vào ô, lưu ý nhập chính xác các
                        thông tin để đảm bảo cho việc quản lí đơn hàng và nhận hàng của bạn.
                    </div>
                </div>
            </div>
        </div>
        <div class="seach-sp">
            <div class="seach-title">TÌM KIẾM SẢN PHẨM</div>
            <div class="seach-nav">
                <ul>
                    <li class="active">TAOBAO.COM</li>
                    <li>ALIBABA.COM</li>
                    <li>TMALL.COM</li>
                    <li>1688.COM</li>
                </ul>
            </div>
            <div class="seach-input">
                <input type="text"
                       placeholder="Nhập từ khóa bằng tiếng việt sản phẩm bạn muốn tìm kiếm tại TAOBAO.COM" />
                <button type="button"></button>
            </div>
            <div class="seach-bt">
                <a href="index_tim_kiem_sp.html">
                    <button type="button">
                        <i class="i1"></i>
                        <p>Tạo đơn hàng trên hệ thống</p>
                    </button>
                </a>

                <a href="index_tao_don_hang.html">
                    <button type="button">
                        <i class="i2"></i>
                        <p>Tạo đơn hàng ký gửi</p>
                    </button>
                </a>

                <a href="@Url.Action("IndexQuanLyDonHang","SansiHome")">
                    <button type="button">
                        <i class="i3"></i>

                        <p>Gợi ý từ khoá hot</p>
                    </button>
                </a>
            </div>
            <div class="seach-sub">
                <div class="seach-sub-title">
                    Mua Hàng Tại Trung quốc, với vài cú Click
                </div>
                <p class="seach-sub-content">
                    Tư vấn, tìm kiếm nguồn hàng và nhập hàng trực tuyến từ các website
                    hàng đầu Trung Quốc. Sansi56.vn cam kết một dịch vụ vượt trội và cải
                    tiến liên tục.
                </p>
            </div>
        </div>
        <div class="container-sam-pham-hot is-mobile">
            <div class="title">SẢN PHẨM ĐANG HOT</div>
            <div class="content">
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/22_Home-1-1 (3).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/22_Home-1-1 (2).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/22_Home-1-1 (1).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/22_Home-1-1.jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/21_Home-1-1 (2).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/21_Home-1-1 (1).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/21_Home-1-1 (2).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title">
                        <img src="~/images/mobile/index/21_Home-1-1 (1).jpg"
                             alt="anh" />
                        <button type="button">SHOW NOW <i></i></button>
                    </div>
                    <div class="content">
                        <ul>
                            <li class="active">Batteries & Chargers</li>
                            <li>Headphone, Headset</li>
                            <li>Home Audio</li>
                            <li>Mp3 Player Accessories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="content2-header is-desktop">
                <img src="~/images/van-chuyen.jpg" alt="" />
                <h3>DỊCH VỤ CỦA CHÚNG TÔI</h3>
                <p>
                    Sansi56.vn là giải pháp nhập hàng tối ưu cho quý khách. Chúng tôi mang
                    lại cho khách hàng nguồn hàng phong phú với mức giá cực rẻ
                </p>
            </div>
            <div class="content2-container el-tltks">
                <div class="el-tltk">
                    <img src="~/images/service-1.jpg" alt="" />
                    <div>
                        <h3>ĐẶT HÀNG, SHIP HÀNG QUỐC TẾ</h3>
                        <p>
                            Đặt hàng từ tất cả các website TMĐT Trung Quốc như taobao, 1688,
                            tmall.
                        </p>
                    </div>
                </div>
                <div class="el-tltk">
                    <img src="~/images/service-2.jpg" alt="" />
                    <div>
                        <h3>CHUYỂN HÀNG 2 CHIỀU TRUNG – VIỆT</h3>
                        <p>
                            Vận chuyển hàng hóa từ khắp các tỉnh thành của Trung Quốc về Việt
                            Nam.
                        </p>
                    </div>
                </div>
                <div class="el-tltk">
                    <img src="~/images/service-3.jpg" alt="" />
                    <div>
                        <h3>CHUYỂN TIỀN, NẠP TIỀN ALIPAY, WECHAT</h3>
                        <p>
                            Thanh toán đơn hàng, nạp tiền tài khoản ngân hàng hoặc Alipay,
                            Wechat, QQ pay.
                        </p>
                    </div>
                </div>
                <div class="el-tltk">
                    <img src="~/images/service-4.jpg" alt="" />
                    <div>
                        <h3>HỖ TRỢ VÀ TƯ VẤN CHUYÊN NGHIỆP</h3>
                        <p>
                            Tư vấn miễn phí. Hỗ trợ tìm kiếm nguồn hàng, hỗ trợ kiểm đếm hàng
                            hóa.
                        </p>
                    </div>
                </div>
                <div class="el-tltk">
                    <img src="~/images/service-5.jpg" alt="" />
                    <div>
                        <h3>DỄ DÀNG QUẢN LÝ ĐƠN HÀNG</h3>
                        <p>
                            Hệ thống ví điện tử giúp giao dịch nhanh chóng, tích điểm nhận
                            nhiều ưu đãi.
                        </p>
                    </div>
                </div>
                <div class="el-tltk">
                    <img src="~/images/service-6.jpg" alt="" />
                    <div>
                        <h3>GIAO HÀNG TẬN NƠI</h3>
                        <p>
                            Ngồi nhà nhập hàng kinh doanh, tiết kiệm thời gian và chi phí hơn
                            trước.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="baner2 is-desktop">
        <div class="baner2-title">
            <h3>ĐỐI TÁC CỦA CHÚNG TÔI</h3>
        </div>
        <div class="baner2-content">
            <div class="baner2-icon">
                <img src="~/images/baner2/beemart.svg" alt="" />
            </div>
            <div class="baner2-icon is">
                <img src="~/images/baner2/celenamom.svg" alt="" />
            </div>
            <div class="baner2-icon">
                <img src="~/images/baner2/evashoes.svg" alt="" />
            </div>
            <div class="baner2-icon">
                <img src="~/images/baner2/gentleman.svg" alt="" />
            </div>
            <div class="baner2-icon">
                <img src="~/images/baner2/upet.svg" alt="" />
            </div>
        </div>
    </div>
    <div class="topView">
        <div class="topView-title">
            <h3>TIN TỨC NỔI BẬT</h3>
        </div>
        <div class="topView-content">
            <div>
                <img src="~/images/topView/1.jpg" alt="" />
                <h4>
                    Hàng Quảng Châu là gì?? Hàng Quảng Châu Trung Quốc có đảm bảo không??
                </h4>
                <p>
                    Giá đắt nhưng chúng ta phải thừa nhận rằng những chiếc Ducati có sức
                    hút và cực quyến rũ cực mạnh.
                </p>
            </div>
            <div class="is-desktop">
                <img src="~/images/topView/2.jpg" alt="" />
                <h4>
                    Hàng Quảng Châu là gì?? Hàng Quảng Châu Trung Quốc có đảm bảo không??
                </h4>
                <p>
                    Giá đắt nhưng chúng ta phải thừa nhận rằng những chiếc Ducati có sức
                    hút và cực quyến rũ cực mạnh.
                </p>
            </div>
            <div class="is-desktop">
                <img src="~/images/topView/3.jpg" alt="" />
                <h4>
                    Hàng Quảng Châu là gì?? Hàng Quảng Châu Trung Quốc có đảm bảo không??
                </h4>
                <p>
                    Giá đắt nhưng chúng ta phải thừa nhận rằng những chiếc Ducati có sức
                    hút và cực quyến rũ cực mạnh.
                </p>
            </div>
        </div>
    </div>
</section>

