@{
    Layout = "_LayoutSansi";
    ViewBag.Title = "Tìm kiếm sản phẩm";
}
<div class="tim-kiem-sp">
    <div class="don-hang-nav">
        <div class="tim-kiem-sp-nav-top">
            <div class="selection">
                <a href="#">
                    <i class="tao-don-hang"></i>
                    <p>Tạo đơn hàng</p>
                </a>
            </div>

            <div>
                <a href="index_don_hang.html">
                    <i class="don-hang"></i>
                    <p>Đơn hàng</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <i class="kien-hang"></i>
                    <p>Kiện hàng</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <i class="vi-dien-tu"></i>
                    <p>Ví điện tử</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <i class="khieu-lai"></i>
                    <p>Kiếu lại</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <i class="nha-cung-cap"></i>
                    <p>Nhà cung cấp</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <i class="cai-dat"></i>
                    <p>cài đặt</p>
                </a>
            </div>
        </div>
        <div class="tim-kiem-sp-nav-bottom is-desktop">
            <div class="tao-don-hang-sub-left">
                <div>Tạo đơn hàng</div>
                <div>Tạo đơn ký gửi</div>
            </div>
            <div class="tao-don-hang-sub-right">
                <div class="so-du">
                    <p>Số dư: 1.500.000đ</p>
                    <i></i>
                </div>
                <div class="sub-mail">
                    <span>0</span>
                </div>
                <div class="sub-cua-hang">
                    <span>1</span>
                </div>
                <div class="sub-thong-bao">
                    <span>23</span>
                </div>
                <div class="avata"></div>
            </div>
        </div>
    </div>

    <div class="don-hang-title">
        <div class="seach-sp">
            <div class="seach-title">TÌM KIẾM SẢN PHẨM</div>
            <div class="seach-nav">
                <ul>
                    <li class="active">TAOBAO.COM</li>
                    <li>ALIBABA.COM</li>
                    <li>TMALL.COM</li>
                    <li>1688.COM</li>
                </ul>
            </div>
            <div class="seach-input">
                <input type="text"
                       placeholder="Nhập từ khóa bằng tiếng việt sản phẩm bạn muốn tìm kiếm tại TAOBAO.COM" />
                <button type="button"></button>
            </div>
            <div class="seach-bt">
                <a href="index_tim_kiem_sp.html">
                    <button type="button">
                        <i class="i1"></i>
                        <p>Tạo đơn hàng trên hệ thống</p>
                    </button>
                </a>

                <a href="index_tao_don_hang.html">
                    <button type="button">
                        <i class="i2"></i>
                        <p>Tạo đơn hàng ký gửi</p>
                    </button>
                </a>

                <a href="index_goi_y_tim_kiem.html">
                    <button type="button">
                        <i class="i3"></i>
                        <p>Gợi ý từ khoá hot</p>
                    </button>
                </a>
            </div>
            <div class="seach-sub">
                <div class="seach-sub-title">
                    Mua Hàng Tại Trung quốc, với vài cú Click
                </div>
                <p class="seach-sub-content">
                    Tư vấn, tìm kiếm nguồn hàng và nhập hàng trực tuyến từ các website
                    hàng đầu Trung Quốc. Sansi56.vn cam kết một dịch vụ vượt trội và cải
                    tiến liên tục.
                </p>
            </div>
        </div>
    </div>
    <div class="tim-kiem-sp-content">
        <table class="is-desktop">
            <tr>
                <th class="cow1">STT</th>
                <th class="cow2">Hình ảnh</th>
                <th class="cow3">Thông tin sản phẩm</th>
                <th class="cow4">Đơn giá</th>
                <th class="cow5">Số lượng</th>
                <th class="cow6">Ghi chú khác</th>
                <th class="cow7">Thành tiền</th>
            </tr>
            <tr>
                <td>
                    <span>1</span>
                    <span>X</span>
                </td>
                <td>
                    <img src="../images/content/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Tên sản phẩm - ghi tiếng Việt" />
                    <input type="text" placeholder="VD: màu sắc, size..." />
                    <input type="text" placeholder="Link sản phẩm" />
                </td>
                <td>
                    <p>Đơn giá</p>
                </td>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Ghi chú sản phẩm ..." />
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>
                    <span>1</span>
                    <span>X</span>
                </td>
                <td>
                    <img src="../images/content/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Tên sản phẩm - ghi tiếng Việt" />
                    <input type="text" placeholder="VD: màu sắc, size..." />
                    <input type="text" placeholder="Link sản phẩm" />
                </td>
                <td>
                    <p>Đơn giá</p>
                </td>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Ghi chú sản phẩm ..." />
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>
                    <span>1</span>
                    <span>X</span>
                </td>
                <td>
                    <img src="../images/content/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Tên sản phẩm - ghi tiếng Việt" />
                    <input type="text" placeholder="VD: màu sắc, size..." />
                    <input type="text" placeholder="Link sản phẩm" />
                </td>
                <td>
                    <p>Đơn giá</p>
                </td>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="Ghi chú sản phẩm ..." />
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
        </table>
        <table class="is-mobile">
            <tr>
                <td colspan="2">x</td>
            </tr>
            <tr>
                <td rowspan="3">
                    <img src="../images/content/tim-kiem-sp/sp.svg" alt="" />
                    <div class="sub">
                        <div class="upload">Tải</div>
                        <div class="link">Link</div>
                    </div>
                </td>
                <td>Đơn giá</td>
            </tr>
            <tr>
                <td>
                    <div class="so-luong">
                        <button type="button" class="tru">-</button>
                        <p>Số lượng</p>
                        <button type="button" class="cong">+</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Thanh tiền</td>
            </tr>
            <tr>
                <td colspan="2">Tên sản phẩm- ghi tiếng việt</td>
            </tr>
            <tr>
                <td colspan="2">VD: màu sắc, size, ..</td>
            </tr>
            <tr>
                <td colspan="2">Link sản phẩm</td>
            </tr>
            <tr>
                <td colspan="2">Ghi chú sản phẩm</td>
            </tr>
        </table>
        <button type="button">+ Thêm sản phẩm</button>
    </div>

    <div class="tim-kiem-sp-total">
        <div class="total-content">
            <div>
                <div class="total-titel">Yêu cầu khác</div>

                <div class="total-content">
                    <input type="checkbox" id="input-kiem-hang" />
                    <label for="input-kiem-hang">Kiểm hàng</label> <br />
                    <input type="checkbox" id="input-dong-go" />
                    <label for="input-dong-go">Đóng gỗ</label>
                </div>
            </div>
            <div>
                <div class="total-titel">Thông tin khách hàng</div>

                <div class="total-content">
                    <input type="checkbox" id="input-address" />
                    <label for="input-address">Thêm địa chỉ khác</label>
                </div>
            </div>
            <div>
                <div class="total-titel">Trụ sở nhận hàng</div>

                <div class="total-content">
                    <input type="radio" id="input-HN" name="tru-so" />
                    <label for="input-HN">Hà Nội</label> <br />
                    <input type="radio" id="input-HCM" name="tru-so" />
                    <label for="input-HCM">Hồ Chí Minh</label><br />
                    <input type="radio" id="input-HP" name="tru-so" />
                    <label for="input-HP">Hải Phòng</label>
                </div>
            </div>
            <div>
                <div>
                    <div class="total-titel">Tổng tiền</div>

                    <div class="total-content total">
                        <div class="total-title">
                            <p>Tổng tiền đặt hàng</p>
                            <p>Phí đặt hàng</p>
                            <p>Phí kiểm đếm</p>
                            <p>Phí đóng kiện</p>
                            <p>Tổng tiền/ chưa có phí ship TQ</p>
                        </div>
                        <div class="total-value">
                            <p>100</p>
                            <p>100</p>
                            <p>100</p>
                            <p>100</p>
                            <p>100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="bt-dat-hang">Đặt hàng</button>
    </div>
</div>
