<div class="footer">
    <div class="footer-content">
        <div>
            <div class="footer-title">
                <i class="footer-icon"></i>
                <h4>ĐẶT HÀNG SIÊU NHANH</h4>
            </div>
            <div class="footer-content">
                <p>
                    Đặt hàng siêu nhanh chuyên dịch vụ vận chuyển hàng hóa, chuyển
                    tiền và đặt hàng trên tất cả các trang web mua hàng của Trung
                    Quốc.
                </p>
            </div>
        </div>
        <div>
            <div class="footer-title">
                <h4>VỀ ĐẶT HÀNG SIÊU NHANH</h4>
            </div>
            <div class="footer-content">
                <ul>
                    <li>
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Hướng dẫn</a>
                    </li>
                    <li>
                        <a href="#">Tin tức</a>
                    </li>
                    <li>
                        <a href="#">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="#">Quy chế hoạt động</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="footer-title">
                <h4>CHĂM SÓC KHÁCH HÀNG</h4>
            </div>
            <div class="footer-content">
                <ul>
                    <li>
                        <a href="#"> Trung tâm trợ giúp </a>
                    </li>
                    <li>
                        <a href="#"> Hướng dẫn tạo tài khoản </a>
                    </li>
                    <li>
                        <a href="#"> Hướng dẫn mua hàng </a>
                    </li>
                    <li>
                        <a href="#"> Trả hàng & vận chuyển </a>
                    </li>
                    <li>
                        <a href="#"> Các câu hỏi thường gặp </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="footer-title">
                <h4>THÔNG TIN LÊN HỆ</h4>
            </div>
            <div class="footer-content">
                <ol>
                    <li>Văn phòng phía bắc</li>
                    <li>30 Lê Duẩn - Hà Nội</li>
                    <li>Hotline: 086 509 6556</li>
                    <li>Email: sansi56.vn@gmail.com</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="address">
        <div class="address-content">
            <h4>THÔNG TIN THANH TOÁN</h4>
            <p>
                178121405 - Chủ TK: Phạm Kim Anh Ngân hàng VP Bank Hội Sở - Hà Nội.
            </p>
        </div>
        <div class="address-sub">
            <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
            <a href=""><i class="facebook"></i></a>
            <a href=""><i class="twiter"></i></i></a>
            <a href=""><i class="instagram"></i></i></a>
        </div>
    </div>
</div>
<div class="footer-sub">
    <div class="footer-sub-content">
        © 2013 - 2019 DATHANGSIEUNHANH Logistics. Tất cả các quyền được bảo lưu<br>
        Số GCNDT: 0107464325, cấp ngày 06/06/2016, nơi cấp: Sở KHĐT TP.Hà Nội
    </div>
    <div>
        <i class="footer-sub-icon"></i>
    </div>
</div>
<!-- Form dang ky- dang nhap -->
<div id="form" class="hide">
    <div>
        <div class="form-container"></div>
    </div>

    <div class="form-dk">
        <div class="form-title">
            <ul>
                <li>ĐĂNG KÝ</li>
                <li class="form-active">ĐĂNG NHẬP</li>
            </ul>
        </div>
        <div class="form-contenter hide">
            <div class="form-name">THÔNG TIN ĐĂNG KÝ</div>
            <div class="form-dky">
                <div>
                    <label for="input-name">Họ và tên <span>*</span></label>
                    <input type="text" placeholder="Nhập họ và tên" id="input-name" />
                </div>
                <div>
                    <label for="input-phone">Điện thoại<span>*</span></label>
                    <input type="text"
                           placeholder="Nhập số điện thoại"
                           id="input-phone" />
                </div>

                <div>
                    <label for="input-email">Nhập Email<span>*</span></label>
                    <input type="text"
                           placeholder="Nhập Email của bạn"
                           id="input-email" />
                </div>
                <div>
                    <label for="input-pas">Mật khẩu<span>*</span></label>
                    <input type="password" placeholder="Nhập mật khẩu" id="input-pas" />
                </div>
                <div>
                    <label for="input-rp-pas">Nhập lại mật khẩu<span>*</span></label>
                    <input type="password"
                           placeholder="Nhập lại mật khẩu"
                           id="input-rp-pas" />
                </div>
            </div>

            <div class="chexbox">
                <input type="checkbox" id="input-xn" />
                <label for="input-xn">
                    Tôi đã đọc và đồng ý với <span> điều khoản </span> của HDSN
                    <span>*</span>
                </label>
            </div>

            <div class="form-bt">
                <button type="button" id="bt-dk">Đăng ký</button>
                <button type="button" id="bt-huy">Huỷ</button>
            </div>
        </div>
        <div class="form-dangnhap-container">
            <div class="form-name">ĐĂNG NHẬP TÀI KHOẢN</div>
            <div class="form-dky">
                <div>
                    <label for="input-email">Nhập Email</label>
                    <input type="text"
                           placeholder="Nhập Email của bạn"
                           id="input-email" />
                </div>
                <div>
                    <label for="input-pas">Mật khẩu</label>
                    <input type="password" placeholder="Nhập mật khẩu" id="input-pas" />
                </div>
            </div>
            <div class="login-sub">
                <div>
                    <input type="checkbox" id="ghi-nho" />
                    <label for="ghi-nho">Nhớ tài khoản</label>
                </div>
                <div>
                    <a href="#">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="form-bt">
                <button type="button" id="bt-dn">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>