<header>
    <ul>
        <li>Tỷ Giá: 1¥ = 3550</li>
        <li>
            <i class="dienthoai"></i>
            086 509 6556
        </li>
        <li>
            <i class="email"></i>
            sansi56.vn@gmail.com
        </li>
    </ul>
    <div class="header-left">
        <i class="caidat"></i>
        <p>Công cụ cài đặt</p>
    </div>
</header>
<nav>
    <i class="nav-3"></i>
    <div class="nav-thongtin">
        <i class="logo"></i>
        <div>
            <p>
                ĐẶT HÀNG SIÊU NHANH
                <span><br />CHUYÊN ORDER HÀNG QUẢNG CHÂU</span>
            </p>
        </div>
    </div>
    <ul>
        <li><a href="@Url.Action("Index","SansiHome")">TRANG CHỦ</a></li>
        <li><a href="#">DỊCH VỤ</a></li>
        <li><a href="index_uu_dai.html">ƯU ĐÃI</a></li>
        <li><a href="index-thong-tin-them.html">THÔNG TIN THÊM</a></li>
    </ul>
    <div class="dangky">
        <p>ĐĂNG KÝ DỊCH VỤ</p>
    </div>
    <div class="nav-tracuu">
        <div class="tracuu">
            <input type="text"
                   id="input-tracuu"
                   placeholder="Nhập đơn hàng hoá cần tra cứu"
                   class="is-desktop" />
            <i class="seach"></i>
        </div>
        <p class="check-don is-mobile">Check mã vận đơn</p>
    </div>
</nav>